
.quick-action-wrapper {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    transform: translateY(3rem);
    opacity: 0;
    transition: all 0.3s;
}

.card-container:hover .quick-action-wrapper {
    transform: translateY(0);
    opacity: 1;
}

.btn-add-cart {
    background-color: white;
    color: #124e78;
    padding: 0.75rem;
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-add-cart:hover {
    box-shadow: 0 10px 15px rgba(18, 78, 120, 0.3);
    transform: scale(1.1);
    background-color: #124e78;
    color: white;
}

.btn-add-cart:active {
    transform: scale(0.95);
}

.card-content {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.card-title {
    font-size: 1.125rem;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 0.25rem;
    line-height: 1.25;
    transition: color 0.3s;
}

.card-container:hover .card-title {
    color: #124e78;
}

.card-description {
    font-size: 0.875rem;
    color: #64748b;
    margin-bottom: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 2.5rem;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    border-top: 1px solid #f1f5f9;
}

.price-text {
    font-size: 1.25rem;
    font-weight: 700;
    color: #0f172a;
}

.details-link {
    font-size: 0.75rem;
    font-weight: 600;
    color: #124e78;
    transition: all 0.3s;
    text-decoration: none;
    text-decoration-line: underline;
    text-underline-offset: 1rem;
}

.details-link:hover {
    color: #051937;
}