/* Estilos específicos de ButtonComponent */

.btn-primary {
    background-color: #f2f4f5;
    color: white;
    font-weight: 600;
    padding: 0.625rem 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgb(255, 255, 255);
    transition: all 200ms;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #eaecee;
    box-shadow: 0 10px 15px -3px rgb(225, 227, 228);
}

.btn-primary:active {
    transform: scale(0.95);
}

.btn-outline {
    border: 1px solid #cbd5e1;
    color: #f6f8fc;
    font-weight: 500;
    padding: 0.625rem 1.5rem;
    border-radius: 0.75rem;
    transition: all 200ms;
    cursor: pointer;
    background-color: transparent;
}

.btn-outline:hover {
    background-color: #f8fafc;
}

.btn-icon {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #f3f4f6;
    border: none;
    cursor: pointer;
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-icon:hover {
    background-color: #e5e7eb;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.btn-icon:active {
    transform: scale(0.95);
}