<div>
    <h1 class="login-header">Bienvenido de nuevo</h1>
    <p class="login-subheader">Ingresa tus credenciales para acceder a tu cuenta.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" formControlName="email" class="form-input"
                [class.border-red-500]="isInvalid('email')" placeholder="ejemplo@correo.com">
            <p *ngIf="isInvalid('email')" class="form-error">Email inválido</p>
        </div>

        <div class="form-group">
            <div class="password-header">
                <label for="password" class="form-label">Contraseña</label>
                <a href="#" class="forgot-password-link">¿Olvidaste tu contraseña?</a>
            </div>
            <input type="password" id="password" formControlName="password" class="form-input"
                [class.border-red-500]="isInvalid('password')" placeholder="••••••••">
        </div>

        <div *ngIf="error()" class="error-alert">
            {{ error() }}
        </div>

        <app-button type="submit" [fullWidth]="true" [loading]="loading()">
            Iniciar Sesión
        </app-button>

        <p class="register-prompt">
            ¿No tienes cuenta?
            <a routerLink="../register" class="register-link">Regístrate</a>
        </p>
    </form>
</div>